.booking-prompt {
    display: flex;
    width: 100%;
    background-color: #262626;
    color: white;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* add a 20 px gap between elements */
    gap: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.booking-prompt .content-booking p {
    margin: 0;
    font-size: 14px;
}

.booking-prompt .actions button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* responsive */
@media (max-width: 550px) {
    .booking-prompt {
        flex-direction: column;
        height: auto;
    }

    .booking-prompt .content-booking {
        margin-bottom: 5px;
    }

    .booking-prompt .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .booking-prompt .actions button {
        width: 100%;
        padding: 5px 8px;
    }
}

