.cookie-container {
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    color: #fff;
    transition: 400ms;

    display: none;
    bottom: 0;
}

.cookie-container.active {
    display: flex !important;
}

.cookie-container a {
    color: #fff;
    text-decoration: underline;
}

.wrapper {
    position: absolute;
    bottom: 30px;
    left: 30px;
    max-width: 365px;
    background: #fff;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.wrapper.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

::selection {
    color: #fff;
    background: #243b9d;
}

.wrapper img {
    max-width: 90px;
}

.content header {
    font-size: 25px;
    font-weight: 600;
}

.content {
    margin-top: 10px;
}

.content p {
    color: #858585;
    margin: 5px 0 20px 0;
}

.content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #243b9d;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button:hover {
    transform: scale(0.97);
}

.buttons .item {
    margin: 0 10px;
}

.buttons a {
    color: #243b9d;
}

#myBtnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(85, 85, 85, 0.45);
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

#myBtnTop:hover {
    background-color: rgba(255, 255, 255, 0.30);
    color: #555;
}

@media screen and (max-width: 1150px) {
    #myBtnTop:hover {
        background-color: rgba(85, 85, 85, 0.45) !important;
        color: white !important;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        bottom: 5px;
        left: 5px;
        right: 5px;
    }
}