/* Basic */
body {
    background-color: white;
    height: 100%;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

/*---------------------
  Commom elements
-----------------------*/

.elements-section {
	padding-top: 120px;
}

.element {
	margin-bottom: 100px;
}

.element:last-child {
	margin-bottom: 0;
}

.el-title {
	margin-bottom: 62px;
}

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 500;
	min-width: 218px;
	padding: 24px 47px;
	border-radius: 0;
	text-transform: uppercase;
	color: #fff;
	line-height: 1.2;
	cursor: pointer;
	text-align: center;
	background: #212121;
}

/* buttons */

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-line {
	color: #212121;
	background: transparent;
	padding: 22px 47px;
	border: 2px solid #212121;
}

.site-btn.sb-light-bg {
	background: #f3f3f3;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/* Accordion */

.accordion-area .panel {
	margin-bottom: 18px;
}

.accordion-area .panel-header {
	display: block;
	font-weight: 500;
	position: relative;
	border: 2px solid #212121;
	-webkit-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-header.active .panel-link {
	color: #fff;
	background-color: #323232;
}

.accordion-area .panel-header.active .panel-link.collapsed {
	color: #323232;
	background-color: transparent;
}

.accordion-area .panel-link:after {
	content: "+";
	position: absolute;
	font-size: 18px;
	font-weight: 500;
	right: 25px;
	top: 50%;
	color: #000;
	line-height: 16px;
	margin-top: -8px;
	margin-left: -4px;
}

.accordion-area .panel-header.active .panel-link:after {
	content: "-";
	margin-top: -10px;
	color: #fff;
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
	content: "+";
	color: #323232;
}

.accordion-area .panel-link {
	text-align: left;
	background-color: transparent;
	border: none;
	position: relative;
	width: 100%;
	padding: 23px 40px 23px 30px;
	font-size: 14px;
	text-transform: uppercase;
	color: #212121;
	font-weight: 500;
	line-height: 1.3;
	cursor: pointer;
}

.accordion-area .panel-body p {
	margin-bottom: 0;
	padding-top: 20px;
}

.accordion-area .panel-body {
	padding: 0 5px;
}

/* Tab */

.tab-element .nav-tabs {
	border-bottom: none;
	margin-bottom: 25px;
}

.tab-element .nav-item {
	margin-right: 10px;
	margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-link {
	border: 2px solid #212121;
	text-align: left;
	background-color: transparent;
	border-radius: 0;
	position: relative;
	width: 100%;
	padding: 23px 38px;
	font-size: 14px;
	text-transform: uppercase;
	color: #323232;
	font-weight: 500;
	line-height: 1.3;
	cursor: pointer;
}

.tab-element .nav-tabs .nav-item:last-child {
	margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
	background: #212121;
	color: #fff;
}

.tab-element .tab-pane p {
	margin-bottom: 0;
	line-height: 1.9;
}


@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/* Accordion */

.accordion-area .panel {
	margin-bottom: 18px;
}

.accordion-area .panel-header {
	display: block;
	font-weight: 500;
	position: relative;
	border: 2px solid #212121;
	-webkit-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-header.active .panel-link {
	color: #fff;
	background-color: #323232;
}

.accordion-area .panel-header.active .panel-link.collapsed {
	color: #323232;
	background-color: transparent;
}


.accordion-area .panel-header.active .panel-link:after {
	content: "-";
	margin-top: -10px;
	color: #fff;
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
	content: "+";
	color: #323232;
}

.accordion-area .panel-body p {
	margin-bottom: 0;
	padding-top: 20px;
}

.accordion-area .panel-body {
	padding: 0 5px;
}

/* Tab */

.tab-element .nav-tabs {
	border-bottom: none;
	margin-bottom: 25px;
}

.tab-element .nav-item {
	margin-right: 10px;
	margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-item:last-child {
	margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
	background: #212121;
	color: #fff;
}

.tab-element .tab-pane p {
	margin-bottom: 0;
	line-height: 1.9;
}

/* milestones */

.milestone {
	margin-bottom: 30px;
}

.milestone h2 {
	font-size: 60px;
	font-weight: 400;
	line-height: 1;
}

.milestone p {
	margin-bottom: 0;
}

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: none;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	padding-top: 6px;
	font-size: 26px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	font-weight: 300;
}

/*------------------
  Header section
---------------------*/

.header-section {
	padding-top: 15px;
	padding-bottom: 27px;
	position: relative;
	z-index: 99;
}

.header-section.hs-bd {
	clear: both;
	border-bottom: 1px solid #e8e8e8;
}

.site-logo {
	display: inline-block;
	padding-top: 18px;
	padding-left: 80px;
}

.header-controls {
	float: right;
	padding: 16px 25px 0 50px;
}

.header-controls button {
	background: transparent;
	border: none;
	font-size: 19px;
}

.header-controls button.nav-switch-btn {
	font-size: 21px;
	margin-right: 25px;
}

.slicknav_menu {
	display: none;
}

.main-menu {
	list-style: none;
	float: right;
	display: none;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li.search-mobile {
	display: none;
}

.main-menu li a {
	display: block;
	font-size: 13px;
	color: #121212;
	font-weight: 600;
	text-transform: uppercase;
	padding: 25px 0;
	margin-right: 45px;
}

.main-menu li .sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 220px;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	padding: 10px 0 5px;
	-webkit-box-shadow: 0 15px 50px 1px rgba(0, 0, 0, 0.13);
	box-shadow: 0 15px 50px 1px rgba(0, 0, 0, 0.13);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.main-menu li .sub-menu li {
	display: block;
}

.main-menu li .sub-menu li a {
	padding: 10px 15px;
	text-transform: none;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.search-mobile button {
	background: transparent;
	border: none;
	color: #fff;
	padding: 15px;
}


/*------------------
  Footer section
---------------------*/
/* commented until I find what is controlling the footer*/
.footer-section {
	background: #212121;
	padding: 19px 40px;
	margin-top: auto;
}

.copyright {
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	padding: 4px 0;
}

.footer-social-links {
	text-align: right;
	margin-top: auto;
}

.footer-social-links a {
	display: inline-block;
	color: #fff;
	font-size: 17px;
	margin-left: 40px;
	margin-top: auto;
}

/* 	Responsive layout - when the screen is less than 600px wide
	the two columns will stack on top of each other instead of next
	to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* ----------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media (max-width: 1270px) {
	.site-logo {
		padding-left: 30px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.site-logo {
		padding-left: 15px;
	}
	.main-menu li a {
		margin-right: 15px;
	}
	.header-controls {
		padding: 16px 15px 0 20px;
	}
	.skill-warp {
		padding-left: 40px;
	}
	.portfolio-box {
		padding: 0 15px;
	}
	.pf-2 {
		padding-left: 35px;
	}
	.blog-post {
		padding: 0;
	}
	.blog-post img {
		padding: 0;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		text-align: center;
		padding-bottom: 0;
	}
	.site-logo {
		padding-left: 15px;
	}
	.main-menu {
		float: none;
	}
	.main-menu li a {
		padding-top: 5px;
	}
	.main-menu li:last-child a {
		margin-right: 0;
	}
	.main-menu li .sub-menu {
		text-align: left;
	}
	.header-controls {
		float: none;
		padding: 20px 15px;
	}
	.skill-warp {
		padding-left: 0;
	}
	.about-bg {
		height: 800px;
	}
	.portfolio-box {
		padding: 0 15px;
	}
	.pf-2 {
		padding-left: 35px;
	}
	.blog-post {
		padding: 0;
	}
	.blog-post img,
	.blog-post p {
		padding: 0;
	}
	.contact-text {
		margin-bottom: 50px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		text-align: center;
		padding-bottom: 0;
	}
	.site-logo {
		padding-left: 15px;
		margin-bottom: 20px;
	}
	.header-controls {
		display: none;
	}
	.main-menu {
		display: none !important;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
	}
	.slicknav_btn {
		margin: 0 auto 20px;
		background: #081624;
		float: none;
		display: inline-block;
	}
	.slicknav_nav {
		background: rgba(15, 15, 15, 0.87);
		text-align: left;
		padding: 8px 5px;
		margin-bottom: 15px;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		background: #25394c;
		color: #fff;
	}
	.skill-warp {
		padding-left: 0;
	}
	.about-bg {
		height: 600px;
	}
	.about-text {
		padding: 100px 20px;
	}
	.portfolio-box {
		padding: 0 15px;
	}
	.pf-2 {
		padding-left: 35px;
	}
	.grid-sizer,
	.grid-item {
		width: 50%;
	}
	.grid-width-1 {
		width: 50%;
	}
	.grid-width-2 {
		width: 100%;
	}
	.blog-post {
		padding: 0;
	}
	.blog-post img,
	.blog-post p {
		padding: 0;
	}
	.contact-text {
		margin-bottom: 50px;
	}
	.footer-social-links {
		text-align: center;
		padding-top: 20px;
		margin-top: auto;
	}
	.footer-social-links a:first-child {
		margin-left: 0;
		margin-top: auto;
	}
	.copyright {
		padding-top: 15px;
		text-align: center;
	}
	.search-model-form input {
		width: 100%;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	div.hero-social-links {
		display: none;
	}
	.about-bg {
		height: 400px;
	}
	.services-section .services-item {
		padding-right: 0;
	}
	.portfolio-box {
		padding: 0;
	}
	.pf-2 {
		padding-left: 15px;
	}
	.portfolio-item.next-btn h2 {
		font-size: 24px;
	}
	.grid-sizer,
	.grid-item,
	.grid-width-2 {
		width: 100%;
	}
	.hero-social-links {
		position: relative;
		width: 100%;
		bottom: 0;
		right: 0;
		z-index: 9;
		background: #fff;
		text-align: center;
		padding: 30px 0;
		border-bottom: 1px solid #e8e8e8;
	}
	.hero-social-links a {
		display: inline-block;
		padding: 5px 10px;
	}
	.map {
		height: 400px;
	}
}