{% extends 'administration/base.html' %}
{% load i18n %}
{% load static %}
{% block customCSS %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs4/3.2.2/dataTables.bootstrap4.min.css"
          integrity="sha512-ybdqRiNuVPQYM0P7Oa6eO34/xPCBgfL9xndV+d13ARArKsejpRSNycb31xn8yxGrGQISC0VlagTBhS3SWLBVJw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-responsive-bs4/2.3.0/responsive.bootstrap4.min.css"
          integrity="sha512-Kep8UHrRwnogj5OXG/g6ZXsfOtdFwJBhcEkEKIKZfiiedZmjwVH3JAyPM3Ag4x6xG1DYf+U/Uu/MFCMkQh+eWQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons-bs4/2.2.3/buttons.bootstrap4.min.css"
          integrity="sha512-qjgDB3iTYTDAAZDtyv6xdGedzfFon3y1yjE/yI2R7HuxKEsY50aXysYFrb2hP3UZbHKiNWKj8tEIhXXFyCi0cA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"><a href="" style="color: black">
                            {% translate "Dashboard" %}
                        </a>
                        </h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <a href="{% url 'administration:index' %}">
                                    {% translate "Dashboard" %}
                                </a>
                            </li>
                            <li class="breadcrumb-item active">{% translate "Index" %}</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>{{ total_request_session }}</h3>
                                <p>{% translate "Request Session" %}</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-ios-albums"></i>
                            </div>
                            <a href="{% url 'administration:session_list' %}" class="small-box-footer">
                                {% translate "More info" %}&nbsp;
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{ total_contact_forms }}</h3>
                                <p>{% translate "Contact Forms" %}</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-document"></i>
                            </div>
                            <a href="{% url 'administration:message_list' %}" class="small-box-footer">
                                {% translate "More info" %}&nbsp;
                                <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ total_photos_delivered }}</h3>
                                <p>{% translate "Photos Delivered" %}</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-images"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                {% translate "More info" %}&nbsp;
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>{{ total_clients }}</h3>
                                <p>{% translate "Clients" %}</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-stalker"></i>
                            </div>
                            <a href="{% url 'administration:user_list' %}" class="small-box-footer">
                                {% translate "More info" %}&nbsp;
                                <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>

            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="d-flex justify-content-between">
                                    <h3 class="card-title">Photoshoot Sessions</h3>
                                    <a href="javascript:void(0);">View Report</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="d-flex flex-column">
                                        <span class="text-bold text-lg">{{ total_request_session }}</span>
                                        <span>Requested Sessions Over Time</span>
                                    </p>
                                    <p class="ml-auto d-flex flex-column text-right">
                                        {% if increase_percentage > 0 %}
                                            <span class="text-success">
                                          <i class="fas fa-arrow-up"></i> {{ increase_percentage }}%
                                        </span>
                                        {% else %}
                                            <span class="text-danger">
                                          <i class="fas fa-arrow-down"></i> {{ increase_percentage }}%
                                        </span>
                                        {% endif %}
                                        <span class="text-muted">Since last month</span>
                                    </p>
                                </div>
                                <!-- /.d-flex -->

                                <div class="position-relative mb-4">
                                    <canvas id="requested-sessions" height="200"></canvas>
                                </div>

                                <div class="d-flex flex-row justify-content-end">
                                      <span class="mr-2">
                                        <i class="fas fa-square text-primary"></i> Photoshoot Sessions each month
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header" id="requested_session">
                                <h3 class="card-title">{% translate "Last 10 requested photoshoot session" %}</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>{% translate "Date taken" %}</th>
                                        <th>{% translate "Desired date" %}</th>
                                        <th>{% translate "Name" %}</th>
                                        <th>{% translate "Email" %}</th>
                                        <th>{% translate "Phone" %}</th>
                                        <th>{% translate "Address" %}</th>
                                        <th>{% translate "Status" %}</th>
                                        <th>{% translate "Email sent" %}</th>
                                        <th>{% translate "Actions" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rs in request_session %}
                                        <tr>
                                            <td>
                                                {{ rs.time_book_taken }}
                                            </td>
                                            <td>
                                                {{ rs.get_desired_date }}
                                            </td>
                                            <td>
                                                {{ rs.full_name }}
                                            </td>
                                            <td>
                                                <a href="mailto:{{ rs.email }}">
                                                    {{ rs.email }}
                                                </a>
                                            </td>
                                            <td>
                                                {% if rs.is_phone %}
                                                    <a href="tel:{{ rs.get_phone_number }}">
                                                        {{ rs.get_phone_number }}
                                                    </a>
                                                {% else %}
                                                    {{ rs.get_phone_number }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ rs.get_address }}
                                            </td>
                                            <td>
                                                <span>{{ rs.status.title }}</span>
                                            </td>
                                            <td>{{ rs.get_if_email_was_sent_string }}</td>
                                            <td>
                                                {% if not rs.get_if_email_was_sent_boolean and not rs.status_changed %}
                                                    <a href="{% url 'administration:send_email' rs.id %}"
                                                       class="btn btn-primary btn-sm">
                                                        <i class="fas fa-envelope"></i>
                                                        {% translate "Send" %}
                                                    </a>
                                                {% else %}
                                                    <a href="" class="btn btn-primary btn-sm disabled">
                                                        <i class="fas fa-envelope"></i>
                                                        {% translate "Send" %}
                                                    </a>
                                                {% endif %}&nbsp;
                                                <a href="{% url 'administration:session_update' rs.pk %}"
                                                   class="btn btn-success btn-sm">
                                                    <i class="fas fa-edit"></i>&nbsp;Edit
                                                </a>&nbsp;
                                                <a href="{% url 'administration:session_delete' rs.pk %}"
                                                   class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i>&nbsp;Delete
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>{% translate "Date taken" %}</th>
                                        <th>{% translate "Desired date" %}</th>
                                        <th>{% translate "Name" %}</th>
                                        <th>{% translate "Email" %}</th>
                                        <th>{% translate "Phone" %}</th>
                                        <th>{% translate "Address" %}</th>
                                        <th>{% translate "Status" %}</th>
                                        <th>{% translate "Email sent" %}</th>
                                        <th>{% translate "Actions" %}</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>
{% endblock %}
{% block customJS %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
            integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"
            integrity="sha512-OQlawZneA7zzfI6B1n1tjUuo3C5mtYuAWpQdg+iI9mkDoo7iFzTqnQHf+K5ThOWNJ9AbXL4+ZDwH7ykySPQc+A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-responsive/2.3.0/dataTables.responsive.min.js"
            integrity="sha512-jHZCTFSeSUkjMMzALVJ5aztNk1+qw1EOhBu6AZIIJo0j4YsCyG4S/feS27WkEAV7C6htBoE4GCqPOjAOodu2Jw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-responsive-bs4/2.3.0/responsive.bootstrap4.min.js"
            integrity="sha512-Isz8YdCq0qR8rvj22HWFFfj9vi+ambuHruMv9ctDBb2BDiSfOcY76BcoH5uSVj1nHDbCUb9qeG2CDSTYkaf8QQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/dataTables.buttons.min.js"
            integrity="sha512-QT3oEXamRhx0x+SRDcgisygyWze0UicgNLFM9Dj5QfJuu2TVyw7xRQfmB0g7Z5/TgCdYKNW15QumLBGWoPefYg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons-bs4/2.2.3/buttons.bootstrap4.min.js"
            integrity="sha512-DfTGKO1w5pcl0/oFlkn7icaopS8zAeOKoIfk2MZRIaxX6NlZ7PFSLX83BU5UILhfolXFKN40lk2ftpRbftw+Kw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"
            integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/pdfmake.min.js"
            integrity="sha512-rDbVu5s98lzXZsmJoMa0DjHNE+RwPJACogUCLyq3Xxm2kJO6qsQwjbE5NDk2DqmlKcxDirCnU1wAzVLe12IM3w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.5/vfs_fonts.js"
            integrity="sha512-cktKDgjEiIkPVHYbn8bh/FEyYxmt4JDJJjOCu5/FQAkW4bc911XtKYValiyzBiJigjVEvrIAyQFEbRJZyDA1wQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/buttons.html5.min.js"
            integrity="sha512-BdN+kHA7QfWIcQE3WMwSj5QAvVUrSGxJLv7/yuEEypMOZBSJ1VKGr9BSpOew+6va9yfGUACw/8Yt7LKNn3RKRA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/buttons.print.min.js"
            integrity="sha512-UthH9WkvNUixebk8yKEFm3Sy+Rm8GbuvxiIMCDs9Cepl+YxhY+LUijPFZshcW7+PHa/HcSFLfSX3fGq1AcglWg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.2.3/js/buttons.colVis.min.js"
            integrity="sha512-TDM0Ek51cJSpP8Btld1ahY8LpMImyQ1k+Ve81qGMdjBLKhADu99JQrUWDuRnT8M0qfkJb+Mt+ZwMaMi46UXA8g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                paging: false,
                lengthChange: false,
                searching: true,
                ordering: false,
                info: true,
                autoWidth: false,
                responsive: true,
                buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
            }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
        });
    </script>
    <script>
        var my_chart = {{ book_me_by_month|safe }};
    </script>

    <script src="{% static 'administration/dist/js/pages/dashboard.js' %}"></script>
    <script src="{% static 'administration/dist/js/pages/dashboard3.js' %}"></script>
{% endblock %}