/* General */

body {
background: #ffffff;
}

.container {
  text-align: center;
}
.fa {
  margin-right: 1em;
}
a {
  margin-bottom: .2em;
}
/* Button styling */
.btn-shared, .btn-shared:focus {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #1892BF;
  border-color: #1892BF;
  background: transparent;
  margin: 0px 3px;
  padding: 7px 14px;
  outline: 0;
  margin-left: 20px;
}
.btn-shared:hover {
  background: #1892BF;
  color: #FFF;
}
.unlike-text {
  display: none;
}
.unfavorite-text {
  display: none;
}

/* after click */
.liked,
.liked:focus {
  background: #1892BF;
  color: #FFF;
}

/* Animation */
/* 1- full button */
.liked {
	-webkit-animation: pulse 0.5s linear;
	-moz-animation: pulse 0.5s linear;
	-ms-animation: pulse 0.5s linear;
	animation: pulse 0.5s linear;
}

@keyframes pulse {
 0% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes pulse {
 0% {
   -moz-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes pulse {
 0% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes pulse {
 0% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }
}

/* 2. like button */
.liked .fa-thumbs-o-up {
   -webkit-animation:jump .5s linear;
    -moz-animation:jump 0.5s linear;
    animation:jump 0.5s linear;
}
@-webkit-keyframes jump {
  0% { -webkit-transform: translateY(0px); }
  30% { -webkit-transform: translateY(10px); }
  50% { -webkit-transform: translateY(0px); }
  70% { -webkit-transform: translateY(-2px); }
  80% { -webkit-transform: translateY(3px); }
  100% { -webkit-transform: translateY(0px); }
}

/* 3. favorite button */
.liked .fa-star {
   -webkit-animation:spin .5s linear;
    -moz-animation:spin 0.5s linear;
    animation:spin 0.5s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }