# pycache folders
__pycache__
client/__pycache__
crueltouch/__pycache__
homepage/__pycache__
portfolio/__pycache__
static_pages_and_forms/__pycache__
administration/__pycache__
appointments/__pycache__

# migrations folders
client/migrations
homepage/migrations
portfolio/migrations
static_pages_and_forms/migrations
administration/migrations
appointments/migrations

# DS_Store file
.DS_Store
client/.DS_Store
crueltouch/.DS_Store
homepage/.DS_Store
portfolio/.DS_Store
static_pages_and_forms/.DS_Store
administration/.DS_Store
appointments/.DS_Store

# IDE & Environments
.idea
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

db.sqlite3

.github
media


crueltouch/secrets.py
crueltouch/secrets
database_backup/*
.cache