Django==4.2.6
django-js-asset==2.1.0
dnspython==2.4.2
docutils==0.20.1
markdown2==2.4.10
Pillow==10.1.0
py3-validate-email==1.0.5.post1
requests==2.31.0
django-appointment==2.1.0
django-payment-manager==1.0.1
python-dotenv~=1.0.0
xhtml2pdf==0.2.11
reportlab>=3.6.13 # not directly required, pinned by Snyk to avoid a vulnerability