[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/web/tchiiz
ExecStart=/home/ubuntu/web/tchiiz/env/bin/gunicorn --access-logfile /home/ubuntu/web/tchiiz/logs/gunicorn/access_logs.log --workers 3 --bind unix:/home/ubuntu/web/tchiiz/tchiiz.sock crueltouch.wsgi:application

[Install]
WantedBy=multi-user.target
