{% extends 'client/client_view/base.html' %}
{% load static %}
{% block title %}CRUELTOUCH | Dashboard{% endblock %}

{% block body %}
    {% if album %}
        <h2 class="alert-info" id="info" style="text-align: center; margin-top: auto">
            Hi, {{ user.first_name }}. You have {{ album.get_photos_count }} new photos.</h2>
        <div class="alert-warning" style="text-align: center; font-size: medium">
            Click  <a href="{% url 'client:album_details' album.id %}">here</a> </div>
    {% else %}
        <h2 class="alert-info" id="info" style="text-align: center; margin-top: auto">
            Hi, {{ user.first_name }}. You don't have any photos uploaded yet.</h2>
        <div class="alert-warning" style="text-align: center; font-size: medium">
            Wanna book me ? Click <a href="{% url 'client:book_me' %}">here</a> </div>
    {% endif %}
{% endblock body %}