{% extends 'client/client_view/base.html' %}
{% load static %}
{% block title %}Client | Photos{% endblock %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/index.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/gallery.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    {% if album %}
        <div class="containers">
            <div class="row">
                <div class="md-12">
                    <div class="content">
                        <div class="container-all">
                            <div class="gallery-all">
                                {% for photo in album.get_photos %}
                                    <label for="photofav{{ forloop.counter }}" class="img-container">
                                        <div class="watermarked" data-watermark="CRUELTOUCH">
                                            <img src="{{ photo.get_url }}" alt="" class="actual-img">
                                        </div>
                                        <div class="overlay">
                                            <span class="img-id-text">{{ photo.id }}</span> &nbsp;
                                            <button class="button like rounded">
                                                <i class="fa fa-heart {{ photo.get_is_favorite }}"
                                                   onClick="setFavorite({{ photo.id }})"
                                                   id="{{ photo.id }}"></i>
                                            </button>
                                        </div>
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2 class="alert-info" id="info" style="text-align: center; margin-top: auto">
            Hi, {{ user.first_name }}. You don't have any photos uploaded yet.</h2>
        <div class="alert-warning" style="text-align: center; font-size: medium">
            Wanna book me ? Click <a href="{% url 'client:book_me' %}">here</a></div>
    {% endif %}
{% endblock body %}

{% block customJS %}
    <script>
        document.querySelectorAll('.watermarked').forEach(function (el) {
            el.dataset.watermark = (el.dataset.watermark + ' ').repeat(600);
        });

        function setFavorite(photo_id) {
            const button = document.getElementById(photo_id);
            const formData = new FormData();
            formData.append('photo_id', photo_id)
            console.log("photo_id ", photo_id)
            // Button Off
            if (button.classList.contains('is-active')) {
                button.classList.remove('is-active');
                button.classList.remove('like')
                $.ajax({
                    url: "{% url 'client:dislike' %}",
                    type: "POST",
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (response) {
                        console.log("error response ", response)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                return;
            }

            // Button On (with a loader)
            button.classList.add('is-loading');
            setTimeout(function () {
                button.classList.remove('is-loading');
                button.classList.add('is-active');
                button.classList.add('like')
                $.ajax({
                    url: "{% url 'client:favorite' %}",
                    type: "POST",
                    data: formData,
                    beforeSend: function () {

                    },
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (response) {
                        console.log("error response ", response)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }, 500);
        }
    </script>
{% endblock %}