{% extends 'client/base.html' %}
{% block title %}<title>Clients</title>{% endblock %}
{% block optionalmenu %}
    <li>
        <a href="{% url 'client:add_photos_homepage' %}">
            <span class="icon"><ion-icon name="images-outline"></ion-icon></span>
            <span class="title">Add Photo Homepage</span>
        </a>
    </li>
    <li>
        <a href="{% url 'client:add_photos_portfolio' %}">
            <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
            <span class="title">Add Photo Portfolio</span>
        </a>
    </li>
{% endblock %}
{% block body %}
    <style>
        .container-add {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid antiquewhite;
            height: 500px;
            width: 350px;
            background-color: #b8daff;
            border-radius: 25px;
        }

        .container-photos {
            padding-left: 45px;
            padding-top: 55px;
        }

        input[type=text], input[type=email] {
            width: 90%;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid #b2b2b2;
            padding-bottom: 14px;
            margin-bottom: 20px;
            background: transparent;
        }

        textarea {
            height: 165px;
            min-height: 165px;
            margin-bottom: 38px;
        }

        label {
            margin-bottom: 15px;
            padding-bottom: 15px;
            text-transform: uppercase;
        }

        input select option {
            height: 15px;
        }

        button#addphotos {
            color: whitesmoke;
            font-size: 15px;
            text-align: center;
            margin: auto;
            cursor: pointer;
        }

        h3 {
            text-transform: uppercase;
            color: black;
        }

        a#goback {
            margin-left: 20px;
            background-color: red;
        }

        a#portfolio {
            margin-right: 20px;
            height: 30px;
            background-color: red;
        }
        .top-container {
            display: flex;
            justify-content: space-between;

        }
    </style>

    <div class="container-add">
        <br>
        <div class="top-container">
            <a id="goback" href="{% url 'client:ownerislogged' %}" class="btn btn-dark my-3">< Go Back</a>
            <a id="portfolio" href="{% url 'client:add_photos_portfolio' %}" class="btn btn-dark my-3">Add Portfolio ></a>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4">

                <div class="container-photos">
                   <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>Upload to Homepage</h3><br>

                        <div class="form-group m-3">
                            <label>Select a row</label><br>
                            <select name="row" class="form-control">
                                <option value='none'>Select a row...</option>

                                {% for album in albums %}
                                    <option value='{{ album.id }}'>{{ album.album_title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <br><br>

                        <div class="form-group m-3">
                            <label>Upload image</label>
                            <input required name="images" type="file" multiple class="form-control-file">
                        </div>
                       <br><br>
                        <button id="addphotos" type='submit' class="btn btn-primary m-3">Upload Homepage</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}