{% extends 'client/base.html' %}
{% block title %}<title>Clients</title>{% endblock %}
{% block optionalmenu %}
    <li>
        <a href="{% url 'client:add_photos_homepage' %}">
            <span class="icon"><ion-icon name="images-outline"></ion-icon></span>
            <span class="title">Add Photo Homepage</span>
        </a>
    </li>
    <li>
        <a href="{% url 'client:add_photos_portfolio' %}">
            <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
            <span class="title">Add Photo Portfolio</span>
        </a>
    </li>
{% endblock %}
{% block body %}
    <style>
        .container-add {
            position: relative;
            margin: auto;
            top: 50%;
            border: 1px solid antiquewhite;
            height: 500px;
            width: 350px;
            background-color: #b8daff;
            border-radius: 25px;
        }

        .container-photos {
            padding-left: 45px;
            padding-top: 55px;
        }

        input[type=text], input[type=email] {
            width: 90%;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid #b2b2b2;
            padding-bottom: 14px;
            margin-bottom: 20px;
            background: transparent;
        }

        textarea {
            height: 165px;
            min-height: 165px;
            margin-bottom: 38px;
        }

        label {
            margin-bottom: 15px;
            padding-bottom: 15px;
            text-transform: uppercase;
        }

        input select option {
            height: 15px;
        }

        button#addphotos {
            color: whitesmoke;
            font-size: 15px;
            text-align: center;
            margin: auto;
            cursor: pointer;
        }

        h3 {
            text-transform: uppercase;
            color: black;
        }

        a#goback {
            margin-left: 20px;
            background-color: red;
        }

        a#portfolio {
            margin-right: 20px;
            height: 30px;
            background-color: red;
        }

        .top-container {
            display: flex;
            justify-content: space-between;

        }
        .divider-photos {
            column-count: 6;
            margin-left: 20px;
        }

        .cardHeader{
            margin-left: 20px;
        }
    </style>
    <div style="justify-content: start; margin-top: 200px">
        <div class="container-add">
            <br>
            <div class="top-container">
                <a id="goback" href="{% url 'client:add_photos_homepage' %}" class="btn btn-dark my-3">< Go Back</a>
                <a id="portfolio" href="{% url 'client:creationofalbum' %}" class="btn btn-dark my-3">Create Album ></a>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="container-photos">
                        <form method='POST' action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3>Upload to portfolio</h3><br>

                            <div class="form-group m-3">
                                <label>Album name</label><br>
                                <select name="alb" class="form-control">
                                    <option value='none'>Select an album...</option>

                                    {% for album in albums %}
                                        <option value='{{ album.id }}'>{{ album.album_title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <br>
                            <div class="form-group m-3">
                                <label>Upload image</label><br>
                                <input required name="images" type="file" multiple class="form-control-file">
                            </div>
                            <br><br>
                            <button id="addphotos" type='submit' class="btn btn-primary m-3">Upload Portfolio</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 100px">
            <div class="cardHeader">
                    <h2>Delete a selected photo</h2>
            </div>
            <br>
            <div class="divider-photos" style="justify-items: flex-start">
                    {% if photos %}
                        <div>
                        {% for photo in photos %}
                            <div>
                                <div><img src="{{ photo.file.url }}" alt="" style="height: 150px"></div>
                                <br>
                                <div><a class="btn btn-danger" style="background-color: red" href="{% url 'client:deletephotoportfolio' photo.id %}">Remove</a></div>
                                <br><br>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert-info" id="info" style="text-align: center; margin-top: auto">
                            <p>No photos to portfolio.</p>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>
{% endblock %}