{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}CRUELTOUCH | Client{% endblock %}
{% block login %}
    <li>
    <a href="" style="color:green">Hello, {{ user.first_name }}</a>
    <ul class="sub-menu">
        <li><a href="{% url 'client:logout' %}" style="color:darkred">LOGOUT</a></li>
    </ul>
    </li>
{% endblock %}
<head>
    {% block customCSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'client/index.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'client/likes.css' %}"/>
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="script" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js">
</head>

{% block body %}
    <form action="{% url 'client:favorite' %}" method="post">
        {% csrf_token %}
        {% if all_photos %}
            {% for photo in all_photos %}
                <div class="container">
                    <div class="gallery">
                        <div class="gallery-item" tabindex="0">
                            <img src="/media/Client/{{ photo.name }}" class="gallery-image">
                            {% comment %}<div class="gallery-item-info">
                                <ul>
                                    <li class="">

                                        <div class="hearted" aria-hidden="false"
                                                id="photo{{ forloop.counter }}" name="photo" value="{{ photo.id }}"> </div>
                                        <div class="animation-heart"></div>
                                    </li>
                                </ul>
                            </div>{% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="container col-md-2 clearfix" style="text-align: center;">
                    <a id="like" class="btn btn-lg btn-block btn-shared btn-favorite" style="
                                                                                              -webkit-border-radius: 3px;
                                                                                              -moz-border-radius: 3px;
                                                                                              -ms-border-radius: 3px;
                                                                                              border-radius: 3px;
                                                                                              -webkit-transition: all 0.5s;
                                                                                              -moz-transition: all 0.5s;
                                                                                              -ms-transition: all 0.5s;
                                                                                              transition: all 0.5s;
                                                                                              color: #1892BF;
                                                                                              border-color: #1892BF;
                                                                                              background: transparent;
                                                                                              margin: 0 3px;
                                                                                              padding: 7px 14px;
                                                                                              outline: 0;
                                                                                              margin-left: 20px;
                                                                                              margin-bottom: .2em;

"                                                                                           >
                        <span class="fa fa-star pull-left" style="margin-right: 1em;"></span>
                        <span class="favorite-text">Favorite</span>
                        <span class="unfavorite_text" style="display: none;">UnFavorite</span>
                    </a>
                </div>

            {% endfor %}
            {#            <button type="submit" value="{{ photo.id }}">Favorite</button>#}
        {% else %}
            <h2 class="alert-info" id="info" style="text-align: center; margin-top: auto">
                Hi, {{ user.first_name }}. You don't have any photos uploaded yet.</h2>
            <div class="alert-warning" style="text-align: center; font-size: medium">
                Wanna book me ? Click <a href="{% url 'client:bookme' %}">here</a> </div>
        {% endif %}
    </form>
    <script>
            // Centring function:
        jQuery.fn.center = function () {
            this.css("position","absolute");
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                                                        $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                                                        $(window).scrollLeft()) + "px");
            return this;
        }

        // Centring element:
        $('.container').center();

        // toggling classes
        $('a.btn-like').on('click', function() {
          $(this).toggleClass('liked');
          $('.like-text,.unlike-text').toggle();
        });

        $('a.btn-favorite').on('click', function() {
          $(this).toggleClass('liked');
          $('.favorite-text,.unfavorite-text').toggle();
        });
    </script>

    <script src="{% static 'client/index.js' %}"></script>
    <script src="{% static 'client/likes.js' %}"></script>

{% endblock body %}