{% extends 'client/base.html' %}
{% block title %}<title>Clients</title>{% endblock %}
    {% block body %}
        <div class="recentCustomers">
            <div class="cardHeader">
                <h2>All Your Clients</h2>
            </div>
            <table>
                <thead>
                <tr>
                    <td>First Name</td>
                    <td>Email</td>
                    <td>Can Login</td>
                </tr>
                </thead>
                {% if all_clients %}
                    <tbody>
                    {% for clients in all_clients %}

                        <tr>

                            <td><h4><a href="{% url 'client:user_details' clients.id %}" style="text-decoration: none">{{ clients.first_name }}</a></h4></td>

                            <td>{{ clients.email }}</td>
                            <td>{{ clients.active }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <tr class="alert-info" id="info" style="text-align: center; margin-top: auto">
                        <td>No clients has registered yet.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endblock %}