{% extends 'client/base.html' %}
{% block body %}
    <!-- card -->
    <div class="cardBox">
        <a href="" style="text-decoration: none">
        <div class="card">
            <div>
                <div class="numbers">{{ all_photos.count }}</div>
                <div class="cardName">Photos Delivered</div>
            </div>
            <div class="iconBx">
                <ion-icon name="images-outline"></ion-icon>
            </div>
        </div>
        </a>
        <a href="{% url 'client:owner_client' %}" style="text-decoration: none">
        <div class="card">
            <div>
                <div class="numbers">{{ all_clients.count }}</div>
                <div class="cardName">Clients</div>
            </div>
            <div class="iconBx">
                <ion-icon name="people-circle-outline"></ion-icon>
            </div>
        </div>
        </a>
        <a href="{% url 'client:owner_messages' %}" style="text-decoration: none">
        <div class="card">
            <div>
                <div class="numbers">{{ all_contacts.count }}</div>
                <div class="cardName">Contact Forms</div>
            </div>
            <div class="iconBx">
                <ion-icon name="reader-outline"></ion-icon>
            </div>
        </div>
        </a>
        <a href="#" style="text-decoration: none">
        <div class="card">
            <div>
                <div class="numbers">{{ all_book_me.count }}</div>
                <div class="cardName">Total Session</div>
            </div>
            <div class="iconBx">
                <ion-icon name="albums-outline"></ion-icon>
            </div>
        </div>
        </a>
    </div>

    <!--data list -->
    <div class="details">
        <div class="recentBooks">
            <div class="cardHeader">
                <h2>Recent Bookings</h2>
                <a href="#" class="btn">View All</a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Full Name</td>
                    <td>Email</td>
                    <td>Session Type</td>
                    <td>Place</td>
                    <td>Packages</td>
                    <td>Status</td>
                </tr>
                </thead>
                {% if all_book_me %}
                    <tbody>
                    {% for book in all_book_me %}
                        <tr>
                            <td>{{ book.full_name }}</td>
                            <td>{{ book.email }}</td>
                            <td>{{ book.session_type }}</td>
                            <td>{{ book.place }}</td>
                            <td><span class="packages-number">{{ book.package }}</span></td>
                            <td><span class="status {{ book.status }}">{{ book.status }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <tr class="alert-info" id="info" style="text-align: center; margin-top: auto">
                        <td>No Booking has been made yet.</td>
                    </tr>
                {% endif %}
            </table>
        </div>

        <!--new customer list -->
        <div class="recentCustomers">
            <div class="cardHeader">
                <h2>Recent Client</h2>
            </div>
            <table>
                <thead>
                <tr>
                    <td>First Name</td>
                    <td>Email</td>
                </tr>
                </thead>
                {% if all_clients %}
                    <tbody>
                    {% for clients in all_clients %}
                        <tr>
                            <td><h4>{{ clients.first_name }}</h4></td>
                            <td>{{ clients.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <tr class="alert-info" id="info" style="text-align: center; margin-top: auto">
                        <td>No clients has registered yet.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}