{% extends 'client/base.html' %}
{% block title %}<title>Clients</title>{% endblock %}
{% block body %}
     <style>
        .container-add {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid lightcoral;
            height: 450px;
            width: 350px;
            background-color: #b8daff;
            border-radius: 35px;
        }

        .container-photos {
            padding-left: 45px;
            padding-top: 55px;
        }

        input[type=text], input[type=email] {
            width: 90%;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid #b2b2b2;
            padding-bottom: 14px;
            margin-bottom: 20px;
            background: transparent;
        }

        textarea {
            height: 165px;
            min-height: 165px;
            margin-bottom: 38px;
        }
    </style>
    <a href="{% url 'client:user_details' user.id %}" class="btn btn-dark my-3">Go Back</a>
    <div class="container-add">

        <div class="row justify-content-center">
            <div class="col-md-4">

                <div class="container-photos">


                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>Upload photos</h3><br>

                        <div class="form-group m-3">
                            <label>For who ?</label>
                            <select name="category" class="form-control">
                                <option value='none'>Select a client...</option>

                                {% for album in all_albums %}
                                <option value='{{album.id}}'>{{album.owner}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <br>

                        <div class="form-group m-3">
                            <label>Upload image</label>
                            <input required name="images" type="file" multiple class="form-control-file">
                        </div>

                        <button type='submit' class="btn btn-primary m-3">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}