{% extends 'client/base.html' %}
{% block title %}<title>Clients</title>{% endblock %}
{% block body %}
    <style>
        .update-book {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid lightcoral;
            height: 450px;
            width: 350px;
            background-color: #b8daff;
            border-radius: 35px;
        }

        .container-book {
            padding-left: 45px;
            padding-top: 55px;
        }

        input[type=text], input[type=email] {
            width: 90%;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #7d7d7d;
            border: none;
            border-bottom: 1px solid #b2b2b2;
            padding-bottom: 14px;
            margin-bottom: 20px;
            background: transparent;
        }

        textarea {
            height: 165px;
            min-height: 165px;
            margin-bottom: 38px;
        }
    </style>
    <form action="" method="post">
        {% csrf_token %}
        <div class="update-book">
            <div class="container-book">
                <div class="header-card">
                    <h2>Update Book</h2>
                </div>

                <div class="element">
                    <label for="fName">Name</label>
                    {{ form.full_name }}
                </div>
                <div class="element">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                <div class="element">
                    <label for="session">Session Type</label>
                    {{ form.session_type }}
                </div>
                <div class="element">
                    <label for="location">Location</label>
                    {{ form.place }}
                </div>
                <div class="element">
                    <label for="package">Package</label>
                    {{ form.package }}
                </div>
                <div class="element">
                    <label for="status">Status</label>
                    {{ form.status }}
                </div>
                <input class="btn btn-primary" type="submit" name="submit">
            </div>
        </div>
    </form>
{% endblock %}