{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}Client | Photos{% endblock %}
{% block login %}
    <li>
    <a href="" style="color:green">Hello, {{ user.first_name }}</a>
    <ul class="sub-menu">
        <li><a href="{% url 'client:logout' %}" style="color:darkred">LOGOUT</a></li>
    </ul>
    </li>
{% endblock %}
<head>
    {% block customCSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'client/index.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'client/likes.css' %}"/>
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="script" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js">
</head>

{% block body %}
    <form action="#{# {% url 'client:favorite' %} #}" method="post">
        {% csrf_token %}
        {% if album %}
            {% for photo in album.photo_set.all %}
                <div class="container">
                    <div class="gallery">
                        <div class="gallery-item" tabindex="0">
                            <img src="{{ photo.file.url }}" class="gallery-image">
                            <input type="checkbox" id="photo{{ forloop.counter }}" name="photo"
                            value="{{ photo.id }}">
                            <label for="photo{{ forloop.counter }}">
                                {{ photo.file.name }}
                                {% if photo.is_favorite %}
                                    <img src="https://i.imgur.com/b9b13Rd.png" alt="">
                                {% endif %}
                            </label><br>
                        </div>
                    </div>
                </div>

            {% endfor %}
            <input type="submit" value="Favorite">
        {% else %}
            <h2 class="alert-info" id="info" style="text-align: center; margin-top: auto">
                Hi, {{ user.first_name }}. You don't have any photos uploaded yet.</h2>
            <div class="alert-warning" style="text-align: center; font-size: medium">
                Wanna book me ? Click <a href="{% url 'client:bookme' %}">here</a> </div>
        {% endif %}
    </form>

    <script>
            // Centring function:
        jQuery.fn.center = function () {
            this.css("position","absolute");
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                                                        $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                                                        $(window).scrollLeft()) + "px");
            return this;
        }

        // Centring element:
        $('.container').center();

        // toggling classes
        $('a.btn-like').on('click', function() {
          $(this).toggleClass('liked');
          $('.like-text,.unlike-text').toggle();
        });

        $('a.btn-favorite').on('click', function() {
          $(this).toggleClass('liked');
          $('.favorite-text,.unfavorite-text').toggle();
        });
    </script>

    <script src="{% static 'client/index.js' %}"></script>
    <script src="{% static 'client/likes.js' %}"></script>

{% endblock body %}