{% extends 'administration/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Tchiiz | {% translate "Update requested session" %}{% endblock %}
{% block body %}
    <section class="content content-wrapper">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <h1>{% translate "Update requested session" %}</h1>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-danger">{% translate "Cancel" %}</a>
                                <input type="submit" value="{% translate "Update" %}" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}