{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Portfolio" %}{% endblock %}
{% block description %}
    {% trans "Have a look at the different high-quality photos that I deliver in my portfolio page" %}
{% endblock %}
{% block canonical %}{% url 'pf:index_portfolio' %}{% endblock %}
{% block homepageCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/magnific-popup.css' %}"/>
{% endblock %}

{% block body %}
    <!-- Portfolio section  -->
    <div class="portfolio-section">
        <ul class="portfolio-filter controls text-center">
            <li class="control" data-filter="all">{% trans "All" %}</li>
            {% for album in all_albums %}
                <li class="control" data-filter=".{{ album.album_title }}">{{ album.album_title.capitalize }}</li>
            {% endfor %}
        </ul>
        <div class="row portfolio-gallery m-0">
            {% for photo in all_photos %}
                <div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 {{ photo.album }}">
                    <a href="{{ photo.file.url }}" class="portfolio-item img-popup set-bg"
                       data-setbg="{{ photo.file.url }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
