{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Portfolio" %}{% endblock %}
{% block description %}
    {% trans "Have a look at the different high-quality photos that I deliver in my portfolio page" %}
{% endblock %}
{% block canonical %}{% url 'pf:index_portfolio' %}{% endblock %}
{% block search_button_color %}white{% endblock %}
{% block bars_color %}white{% endblock %}
{% block logoImg %}
    <img src="{% static 'homepage/img/logos/logo-white.webp' %}" style="height: 60px; width: 100px" alt="logo">
{% endblock %}
{% block priceTableCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/magnific-popup.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/homepage.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/portfolio.css' %}"/>
{% endblock %}

{% block body %}
    <!-- Portfolio section  -->
    <div class="portfolio-section">
        <ul class="portfolio-filter controls text-center">
            <li class="control" data-filter="all">{% trans "All" %}</li>
            {% for album in all_albums %}
                <li class="control" data-filter=".{{ album.album_title }}">{{ album.album_title.capitalize }}</li>
            {% endfor %}
        </ul>
        <div class="row portfolio-gallery m-0">
            {% for photo in all_photos %}
                <div class="mix col-xl-2 col-md-3 col-sm-4 col-6 p-0 {{ photo.album }}">
                    <a href="{{ photo.file.url }}" class="portfolio-item img-popup set-bg"
                       data-setbg="{{ photo.thumbnail.url }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}

{% block customJS %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let lazyLoadElements = document.querySelectorAll('.set-bg');

            if ('IntersectionObserver' in window) {
                let observer = new IntersectionObserver((entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            let element = entry.target;
                            let imageUrl = element.getAttribute('data-setbg');
                            element.style.backgroundImage = `url(${imageUrl})`;
                            observer.unobserve(element);
                        }
                    });
                });

                lazyLoadElements.forEach(element => {
                    observer.observe(element);
                });
            } else {
                // Fallback for browsers that do not support IntersectionObserver
                lazyLoadElements.forEach(element => {
                    let imageUrl = element.getAttribute('data-setbg');
                    element.style.backgroundImage = `url(${imageUrl})`;
                });
            }
        });
    </script>
{% endblock %}
