{% extends 'homepage/base.html' %}
{% load static %}
{% block priceTableCSS %}<link rel="stylesheet" type="text/css" href="{% static 'homepage/css/priceCards.css' %}" />{% endblock %}
{% block body %}
    <!--Change the a href photo.file_url to photo.id when finished-->
    <!-- Hero section  -->
    <div class="hero-section">
        <div class="hero-slider owl-carousel">
            {% for photo in album1 %}
                <div class="hero-item portfolio-item set-bg" data-setbg="{{ photo.file.url }}">
                    <a href="{% url 'homepage:detail' photo.id %}" class="hero-link">
                        <h2>Click</h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        {% for photo in album2 %}
            <div class="hero-item portfolio-item set-bg" data-setbg="{{ photo.file.url }}">
                <a href="{% url 'homepage:detail' photo.id %}" class="hero-link">
                    <h2>Click</h2>
                </a>
            </div>
        {% endfor %}
    </div>

    <!-- Hero section end  -->

    <!-- Intro section   -->
    <section class="intro-section">
        <div class="intro-warp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 p-0">
                        <div class="intro-text">
                            <h2 style="padding-left: 5px; padding-right: 5px; font-size:38px;">My name is Roos Laurore.
                                I’m a photographer</h2>
                            <p>Born in the 90's, I am very passionated by everything related to art, music and
                                photography. I spent 1 year in France doing photography and sharing with others in the
                                field. I learnt how to use Photoshop and I'm really good at it. While in France, I
                                landed my first wedding gig on a yatch. I am actually interested in computer science and
                                long term investing. I'm planning to travel a little bit in the next years in Indonesia,
                                Greece and China. Long term goal : Digital Nomad.</p>
                            <a href="{% url 'pf:index_portfolio' %}" class="sp-link">Take a look @my portfolio</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 p-0">
                        <div class="skill-warp">
                            <div class="single-progress-item">
                                <div class="progress-bar-style" data-progress="95"></div>
                                <p>Business</p>
                            </div>
                            <div class="single-progress-item">
                                <div class="progress-bar-style" data-progress="100"></div>
                                <p>Passion</p>
                            </div>
                            <div class="single-progress-item">
                                <div class="progress-bar-style" data-progress="90"></div>
                                <p>Travels</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Intro section end  -->

     <!-- Promotion Cards -->
    <section class="pricing-table">
			<div class="container">
				<div class="block-heading">
					<h2>Our Pricing</h2>
					<p>Take advantage of our latest promotion</p>
				</div>
				<div class="row justify-content-md-center">
					<div class="col-md-5 col-lg-4">
						<div class="item">
							<div class="heading">
								<h3>BASIC</h3>
							</div>
							<p>Studio rental costs are the responsibility of the customer. For portrait or birthday.</p>
							<div class="features">
								<h4><span class="feature">Photos</span> : <span class="value">7</span></h4>
								<h4><span class="feature">Duration</span> : <span class="value">1 hour</span></h4>
								<h4><span class="feature">Edit time</span> : <span class="value">10 days</span></h4>
							</div>
							<div class="price">
								<h4>$200</h4>
							</div>
							<a href="{% url 'client:bookme' %}">
                                <button class="btn btn-block btn-primary" type="submit">BOOK NOW</button>
                            </a>
						</div>
					</div>


					<div class="col-md-5 col-lg-4">
						<div class="item">
							<div class="ribbon">Best Value</div>
							<div class="heading">
								<h3>PRO</h3>
							</div>
							<p>Studio rental costs are the responsibility of the customer. For portrait or birthday.</p>
							<div class="features">
								<h4><span class="feature">Photos</span> : <span class="value">30</span></h4>
								<h4><span class="feature">Duration</span> : <span class="value">2 hours</span></h4>
								<h4><span class="feature">Edit time</span> : <span class="value">7 days</span></h4>
							</div>
							<div class="price">
								<h4>$400</h4>
							</div>
                            <a href="{% url 'client:bookme' %}">
                                <button class="btn btn-block btn-primary" type="submit">BOOK NOW</button>
                            </a>
						</div>
					</div>
					<div class="col-md-5 col-lg-4">
						<div class="item">
							<div class="heading">
								<h3>PREMIUM</h3>
							</div>
							<p>Studio rental costs included in the price. Ideal for portrait photography or birthday. </p>
							<div class="features">
								<h4><span class="feature">Photos</span> : <span class="value">60</span></h4>
								<h4><span class="feature">Duration</span> : <span class="value">4 hours</span></h4>
								<h4><span class="feature">Edit time</span> : <span class="value">5 days</span></h4>
							</div>
							<div class="price">
								<h4>$600</h4>
							</div>
							<a href="{% url 'client:bookme' %}">
                                <button class="btn btn-block btn-primary" type="submit">BOOK NOW</button>
                            </a>
						</div>
					</div>
				</div>
			</div>
		</section>










{% endblock %}
