{% extends 'client/base.html' %}
{% block title %}<title>Clients</title>{% endblock %}
{% block body %}
    <style>
        .update-book {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid lightcoral;
            height: 450px;
            width: 350px;
            background-color: #b8daff;
            border-radius: 35px;
        }

        .container-book {
            padding-left: 45px;
            padding-top: 55px;
        }

        input[type=text], input[type=email] {
            width: 90%;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #7d7d7d;
            border: none;
            border-bottom: 1px solid #b2b2b2;
            padding-bottom: 14px;
            margin-bottom: 20px;
            background: transparent;
        }

        textarea {
            height: 165px;
            min-height: 165px;
            margin-bottom: 38px;
        }
    </style>

    <form action="{% url 'client:delete_bookmes' book.id %}" method="post">
        {% csrf_token %}
        <div class="update-book">
            <div class="container-book">
                <p>Are you sure you want to delete "{{ book }}"?</p><br>
                <a class="btn btn-warning" style="background-color: yellow; color: black" href="{% url 'client:owner_bookmes' %}">Cancel</a>
                <button class="btn btn-danger" style="background-color: red; color: white; font-size: 14px; cursor: pointer" type="submit" name="Confirm">Confirm</button>
            </div>
        </div>
    </form>
{% endblock %}