{% extends 'homepage/base.html' %}
{% load i18n %}
{% block title %}{% trans "Contact us" %}{% endblock %}
{% block canonical %}{% url 'flatpages:contact' %}{% endblock %}
{% block description %}
    {% blocktranslate %}
        Get in touch with us for all your photography needs. Contact us today for booking, consultation, or any other
        inquiry.
    {% endblocktranslate %}
{% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <!-- Header section end  -->
    <style>
        input[type=text], input[type=email], textarea {
            width: 100%;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #7d7d7d;
            border: none;
            border-bottom: 1px solid #b2b2b2;
            padding-bottom: 14px;
            margin-bottom: 20px;
            background: transparent;
        }

        textarea {
            height: 165px;
            min-height: 165px;
            margin-bottom: 38px;
        }
    </style>

    <!-- Contact section  -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h1 style="font-size: 30px">{% trans "GET IN TOUCH" %}</h1>
                        <p>
                            {% blocktranslate %}
                                They say a picture is worth a thousand words.
                                But I wonder what else do “they” say?
                                In photography there is a reality so subtle that it becomes more real than reality.
                                Taking an image reveals how rich reality truly is.
                                Photography is a way of feeling, of loving.
                                What you have caught on film is captured forever…
                                It remembers little things, long after you have forgotten everything.
                            {% endblocktranslate %}
                        </p>
                        <ul>
                            <li>Florida, USA</li>
                            <li>
                                <a href="https://www.instagram.com/crueltouch_/" style="text-decoration: none">
                                    <img src="https://img.icons8.com/office/30/000000/instagram-new.png" height="20px"/>
                                    @crueltouch
                                </a>
                            </li>
                            <li>
                                <a href="tel:+17543007808" style="text-decoration: none">
                                    <img src="https://img.icons8.com/ios-filled/30/000000/phone.png" height="20px"/>
                                    +1&nbsp;754&nbsp;300&nbsp;7808
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                                     role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% if form.errors %}
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <p style="color: darkred">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        <input class="btn btn-primary prevent_multiple" type="submit" value="{% trans 'Submit' %}"
                               style="width: 100px">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end  -->

    <!-- Instagram section -->
    <div class="instagram-section">
        <h6></h6>
        <div id="instafeed" class="instagram-slider owl-carousel"></div>
    </div>

{% endblock %}

{% block customJS %}
    <script>
        $('.prevent_multiple').click(function () {
            const old_width = $(this).width();                              // store original width
            $(this).html('<i class="fa fa-refresh fa-lg fa-spin"></i>');    // replace button text with icon
            $(this).width(old_width);                                       // restore original width
            $(this).prop('disabled', true);                                 // disable the button
            $(this).parents('form:first').submit();                         // submit the form
        });
    </script>
{% endblock %}
