{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Generic title here to change later via the context dictionary in view-->
    <meta charset="UTF-8">
    <title>{% block title %}CRUELTOUCH | Homepage{% endblock %}</title>
    <meta name="description" content="Crueltouch Website">
    <meta name="keywords" content="photographer, crueltouch, contact crueltouch, roos laurore">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Favicon -->
    <link href="{% static 'homepage/img/icon/android-icon-48x48.png' %}" rel="shortcut icon"/>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/magnific-popup.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/slicknav.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/owl.carousel.min.css' %}"/>

    <!-- Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/index.css' %}"/>
    {% block customCSS %}
        <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/styles.css' %}"/>{% endblock %}
    {% block priceTableCSS %}{% endblock %}
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">

    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!--[endif]-->

</head>
<body>
<!-- Page Preloder
<div id="preloder">
   <div class="loader"></div>
</div> -->

<!-- Header section  -->
<header class="header-section">
    <a href="{% url 'homepage:index' %}" class="site-logo"><img src="/media/Logo/crucru.png"
                                                                style="height: 60px; width: 100px" alt="logo"></a>
    <div class="header-controls">
        <button class="nav-switch-btn"><i class="fa fa-bars"></i></button>
        <button class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <ul class="main-menu">
        <li><a href="{% url 'homepage:index' %}">Home</a></li>

        <li>
            <a href="{% url 'client:bookme' %}">Meet & Contact</a>
            <ul class="sub-menu">
                <li><a href="{% url 'homepage:about' %}">Meet Crueltouch</a></li>
                <li><a href="{% url 'flatpages:contact' %}">Contact Us</a></li>
            </ul>
        </li>

        <li>
            <a href="{% url 'pf:index_portfolio' %}">Portfolio</a>
        </li>


        {% block login %}
            <li>
                <a href="{% url 'client:bookme' %}">Book Me</a>
                <ul class="sub-menu">
                    <li><a href="{% url 'client:bookme' %}">Book Me</a></li>
                    <li><a href="{% url 'homepage:index' %}">Latest Promotions</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Client Login</a>
                <ul class="sub-menu">
                    <li><a href="{% url 'client:login' %}">View Your Images</a></li>
                    <li><a href="{% url 'client:register' %}">Registration</a></li>
                    <li><a href="{% url 'client:owner' %}">Admin Login</a></li>
                </ul>
            </li>
        {% endblock %}

        <li class="search-mobile">
            <button class="search-btn"><i class="fa fa-search"></i></button>
        </li>
    </ul>
</header>
<div class="clearfix"></div>
<!-- Header section end  -->

{% block body %}
{% endblock %}


{% block footer %}
    <!-- Footer-->

    <!-- Footer section   -->
    <footer class="footer-section" style="margin-top: auto;">
        <div class="container-fluid">
            <div class="row">
                {% block customfa %}
                    <div class="col-md-6 order-1 order-md-2">
                    <div class="footer-social-links">
                        <a href="https://www.facebook.com/crueltouch" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/crueltouch_/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://vm.tiktok.com/ZM8quPJ9t/">
                            <ion-icon name="logo-tiktok"></ion-icon>
                        </a>
                    </div>
                {% endblock %}
                </div>
                <div class="col-md-6 order-2 order-md-1">
                    <div class="copyright">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved | Roos Orlens Laurore | Made with <i class="fa fa-heart-o"
                                                                               aria-hidden="true"></i> by <a
                                href="https://adamspierredavid.com" target="_blank">APD</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer section end  -->

        <!-- Search model -->
        <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch">+</div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->

    </footer>

{% endblock %}
<!--====== Javascripts & Jquery ======-->
<!-- Ion Icons -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="{% static 'homepage/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'homepage/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'homepage/js/circle-progress.min.js' %}"></script>
<script src="{% static 'homepage/js/mixitup.min.js' %}"></script>
<script src="{% static 'homepage/js/instafeed.min.js' %}"></script>
<script src="{% static 'homepage/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'homepage/js/main.js' %}"></script>

<!--end footer-->
</body>

</html>
