{% extends 'homepage/base.html' %}
{% block title %}CRUELTOUCH | Detailed{% endblock %}

{% block body %}
    <body>

    <div class="image" style="">
        <div class="">
            <img class="image-source" src="{{ photo.file.url }}" style="">
        </div>
    </div>


    <style>
        .image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            background-color: #1b1e21;
        }

        .image-source {
            position: center;
            left: auto;
            right: auto;
        }
    </style>
    </body>
{% endblock body %}