{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block search_button_color %}white{% endblock %}
{% block bars_color %}white{% endblock %}
{% block logoImg %}
    <img src="{% static 'homepage/img/logos/logo-white.webp' %}" style="height: 60px; width: 100px" alt="logo">
{% endblock %}
{% block priceTableCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/homepage.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/booking_btn.css' %}"/>
{% endblock %}
{% block description %}
    {% trans "Professional photography services for all occasions - portraits, landscapes, events. High-quality results and personalized attention." %}
{% endblock %}
{% block body %}
    <!-- Hero section  -->
    <div class="hero-section">
        <div class="hero-slider owl-carousel">
            {% for photo in album1 %}
                <div class="hero-item portfolio-item set-bg"
                     onclick="redirectToService('{% url 'homepage:services_offered' %}')"
                     style="background-image: url('{{ photo.file.url }}');" data-setbg="{{ photo.file.url }}">
                </div>
            {% endfor %}
        </div>

        <div class="hero-slider owl-carousel">
            {% for photo in album2 %}
                <div class="hero-item portfolio-item set-bg"
                     onclick="redirectToService('{% url 'homepage:services_offered' %}')"
                     style="background-image: url('{{ photo.file.url }}');" data-setbg="{{ photo.file.url }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="bookingPrompt" class="booking-prompt">
        <div class="content-booking">
            <p>{% translate 'Ready to capture beautiful moments?' %}</p>
            <p>{% translate 'Book your photography session with us today!' %}</p>
        </div>
        <div class="actions">
            <button type="button" onclick="location.href='{% url 'homepage:services_offered' %}'">{% translate 'Book Now' %}</button>
        </div>
    </div>
{% endblock %}

{% block customJS %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let lazyLoadElements = document.querySelectorAll('.set-bg');

            if ('IntersectionObserver' in window) {
                let observer = new IntersectionObserver((entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            let element = entry.target;
                            let imageUrl = element.getAttribute('data-setbg');
                            element.style.backgroundImage = `url(${imageUrl})`;
                            observer.unobserve(element);
                        }
                    });
                });

                lazyLoadElements.forEach(element => {
                    observer.observe(element);
                });
            } else {
                // Fallback for browsers that do not support IntersectionObserver
                lazyLoadElements.forEach(element => {
                    let imageUrl = element.getAttribute('data-setbg');
                    element.style.backgroundImage = `url(${imageUrl})`;
                });
            }
        });

        function redirectToService(url) {
            window.location.href = url;
        }

    </script>
{% endblock %}
