{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block priceTableCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/services.css' %}"/>
{% endblock %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block description %}
    {{ page_description }}
{% endblock %}
{% block body %}
    <div class="main-container">
        <h1 class="page-title">{% trans "Select and Schedule Your Appointment" %}</h1>
        <div class="page-menu">
            <div class="category-button wedding-service" onclick="showService('wedding-service')">Wedding</div>
            <div class="category-button portrait-service" onclick="showService('portrait-service')">Portrait/Birthday
            </div>
            <div class="category-button product-service" onclick="showService('product-service')">Product Photography
            </div>
            <div class="category-button event-service" onclick="showService('event-service')">Events</div>
        </div>
        <div class="page-body">
            <div class="category-container">
                <div class="wedding-service service-list" id="wedding-service">
                    {% for service in wedding_service %}
                        <div class="page-item">
                            <div class="item-picture">
                                <img src="{{ service.get_image_url }}" alt="{{ service.name }}">
                            </div>
                            <div class="item-description">
                                <h2 class="item-name">{{ service.name }}</h2>
                                <p class="description-paragraph">{{ service.description|safe }}</p>
                                <hr>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <a href="{% url 'appointment:appointment_request' service_id=service.id %}"
                                   class="btn btn-dark">Book Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="portrait-service service-list" id="portrait-service">
                    {% for service in portrait_service %}
                        <div class="page-item">
                            <div class="item-picture">
                                <img src="{{ service.get_image_url }}" alt="{{ service.name }}">
                            </div>
                            <div class="item-description">
                                <h2 class="item-name">{{ service.name }}</h2>
                                <p class="description-paragraph">{{ service.description|safe }}</p>
                                <hr>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <a href="{% url 'appointment:appointment_request' service_id=service.id %}"
                                   class="btn btn-dark">Book Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="product-service service-list" id="product-service">
                    {% for service in product_service %}
                        <div class="page-item">
                            <div class="item-picture">
                                <img src="{{ service.get_image_url }}" alt="{{ service.name }}">
                            </div>
                            <div class="item-description">
                                <h2 class="item-name">{{ service.name }}</h2>
                                <p class="description-paragraph">{{ service.description|safe }}</p>
                                <hr>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <a href="{% url 'appointment:appointment_request' service_id=service.id %}"
                                   class="btn btn-dark">Book Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="event-service service-list" id="event-service">
                    {% for service in event_service %}
                        <div class="page-item">
                            <div class="item-picture">
                                <img src="{{ service.get_image_url }}" alt="{{ service.name }}">
                            </div>
                            <div class="item-description">
                                <h2 class="item-name">{{ service.name }}</h2>
                                <p class="description-paragraph">{{ service.description|safe }}</p>
                                <hr>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <a href="{% url 'appointment:appointment_request' service_id=service.id %}"
                                   class="btn btn-dark">Book Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJS %}
    <script>
        function showService(serviceId) {
            const selectedService = document.getElementById(serviceId);
            const isActive = selectedService && selectedService.style.display === 'block';

            if (!isActive) {
                updateActiveButton(serviceId);
                const serviceLists = document.getElementsByClassName('service-list');
                for (let i = 0; i < serviceLists.length; i++) {
                    serviceLists[i].style.display = 'none'; // Hide all service lists
                }
                if (selectedService) {
                    selectedService.style.display = 'block'; // Show the clicked service
                } else {
                    console.error('Element with ID ' + serviceId + ' not found.');
                }
            }
        }

        function updateActiveButton(serviceClassName) {
            let buttons = document.querySelectorAll('.category-button');
            buttons.forEach(button => {
                if (button.classList.contains(serviceClassName)) {
                    button.classList.add('active');
                } else {
                    button.classList.remove('active');
                }
            });
        }
    </script>
{% endblock %}
