{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block priceTableCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/services.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
{% endblock %}
{% block title %}
    {{ page_title }}
{% endblock %}
{% block description %}
    {{ page_description }}
{% endblock %}
{% block body %}
    <div class="main-container">
        <h1 class="page-title">{% trans "Select and Schedule Your Appointment" %}</h1>
        <div class="page-menu">

        </div>
        <div class="page-body">
            <div class="category-container">
                <button class="category-button wedding" onclick="toggleService('wedding-service')">
                    <span>Wedding</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </button>
                <div class="wedding-service service-list">
                    <!-- Wedding services go here -->
                    {% for service in wedding_service %}
                        <div class="page-item">
                            <div class="item-picture">
                                <img src="{{ service.get_image_url }}" alt="{{ service.name }}">
                            </div>
                            <div class="item-description">
                                <h2 class="item-name">{{ service.name }}</h2>
                                <p class="description-paragraph">{{ service.description|safe }}</p>
                                <hr>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <a href="{% url 'appointment:appointment_request' service_id=service.id %}"
                                   class="btn btn-dark">Book Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <button class="category-button portrait" onclick="toggleService('portrait-service')">
                    <span>Portrait/Birthday</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </button>
                <div class="portrait-service service-list">
                    {% for service in portrait_service %}
                        <div class="page-item">
                            <div class="item-picture">
                                <img src="{{ service.get_image_url }}" alt="{{ service.name }}">
                            </div>
                            <div class="item-description">
                                <h2 class="item-name">{{ service.name }}</h2>
                                <p class="description-paragraph">{{ service.description|safe }}</p>
                                <hr>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <a href="{% url 'appointment:appointment_request' service_id=service.id %}"
                                   class="btn btn-dark">Book Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <button class="category-button product" onclick="toggleService('product-service')">
                    <span>Product Photography</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </button>
                <div class="product-service service-list">
                    {% for service in product_service %}
                        <div class="page-item">
                            <div class="item-picture">
                                <img src="{{ service.get_image_url }}" alt="{{ service.name }}">
                            </div>
                            <div class="item-description">
                                <h2 class="item-name">{{ service.name }}</h2>
                                <p class="description-paragraph">{{ service.description|safe }}</p>
                                <hr>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <a href="{% url 'appointment:appointment_request' service_id=service.id %}"
                                   class="btn btn-dark">Book Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <button class="category-button event" onclick="toggleService('event-service')">
                    <span>Events</span>
                    <i class="fas fa-chevron-right arrow"></i>
                </button>
                <div class="event-service service-list">
                    {% for service in event_service %}
                        <div class="page-item">
                            <div class="item-picture">
                                <img src="{{ service.get_image_url }}" alt="{{ service.name }}">
                            </div>
                            <div class="item-description">
                                <h2 class="item-name">{{ service.name }}</h2>
                                <p class="description-paragraph">{{ service.description|safe }}</p>
                                <hr>
                                <p>{{ service.get_duration }}</p>
                                <p>{{ service.get_price_text }}</p>
                                <a href="{% url 'appointment:appointment_request' service_id=service.id %}"
                                   class="btn btn-dark">Book Now</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block customJS %}
    <script>
        function toggleServiceList(serviceClassName) {
            let allServices = document.querySelectorAll('.service-list');
            let targetService = document.querySelector('.' + serviceClassName);
            let isCurrentlyVisible = targetService.style.display === 'block';

            allServices.forEach(service => {
                service.style.display = 'none'; // Hide all service lists
            });

            let allArrows = document.querySelectorAll('.category-container .arrow');
            allArrows.forEach(arrow => {
                arrow.style.transform = 'rotate(0deg)'; // Reset all arrows
            });

            if (!isCurrentlyVisible) {
                targetService.style.display = 'block'; // Show the target service list
                let targetArrow = targetService.previousElementSibling.querySelector('.arrow');
                if (targetArrow) {
                    targetArrow.style.transform = 'rotate(90deg)'; // Rotate the corresponding arrow
                }
            }
        }

        function updateActiveButton(serviceClassName) {
            let buttons = document.querySelectorAll('.category-button');
            buttons.forEach(button => {
                button.classList.remove('active');
                if (button.nextElementSibling && button.nextElementSibling.classList.contains(serviceClassName)) {
                    button.classList.add('active');
                }
            });
        }

        function toggleService(serviceClassName) {
            toggleServiceList(serviceClassName);
            updateActiveButton(serviceClassName);
        }
    </script>
{% endblock %}
