{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'administration/dist/css/password_reset.css' %}">
{% endblock %}

{% block body %}
    <div class="registration">
        <div class="text-center" style="width: 80%; margin: 0 auto">
            <h1 class="reset-title">{% translate "Password reset complete" %}</h1>
            <h2 style="width: 60%; margin: 0 auto" class="reset-explanation">
                {% translate "Your new password has been set. You can log in now." %}
            </h2>
        </div>
        <br/>
        <div class="text-center">
            <a href="{% url 'client:login' %}">{% translate "Login" %}</a>
        </div>
    </div>
{% endblock %}


{% block customizedScript %}
    <script>
        function activate_menu() {
            const active = $('.active');
            active.removeClass('active')
        }

        activate_menu();
    </script>
{% endblock %}