{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'administration/dist/css/password_reset.css' %}">
{% endblock %}

{% block body %}
    <div class="registration">
        <div class="text-center" style="width: 80%; margin: 0 auto">
            <h1 class="reset-title">{% translate "Reset password email sent" %}</h1>
            <h2 class="reset-explanation">
                {% blocktranslate %}
                    We have emailed you instructions on how to set your password, if an account
                    exists with the e-mail address you entered. You should receive them shortly.
                {% endblocktranslate %}
            </h2><br>
            <h6 style="width: 60%; margin: 0 auto">
                {% blocktranslate %}
                    If you do not receive an email, please check that you have entered the email address
                    you registered with and check your spam folder.
                {% endblocktranslate %}
            </h6>
        </div>
        <div class="text-center">
            <a href="{% url 'homepage:index' %}">
                {% translate "Back to homepage" %}
            </a>
        </div>
    </div>
{% endblock %}


{% block customJS %}
    <script>
        function activate_menu() {
            const active = $('.active');
            active.removeClass('active')
        }

        activate_menu();
    </script>

{% endblock %}