{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}CRUELTOUCH | {% trans "Login" %}{% endblock %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/registers.css' %}"/>
{% endblock %}
{% block body %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">{% trans "LOGIN" %}</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="text" name="email" placeholder="{% trans 'Email' %}..." class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="password" name="password" placeholder="{% trans 'Password' %}..."
                                   class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div><a href="{% url 'reset_password' %}" style="text-decoration: none">{% trans 'Forgot password' %} ?</a></div>
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="{% trans 'Login' %}">
                        </div>
                    </form>

                </div>
                <small class="text-muted" style="padding-top: 5px; margin-top: 5px">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                                 role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p style="color: darkred">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </small>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        {% trans "Don't have an account" %}?&nbsp;
                        <a href="{% url 'client:register' %}" class="ml-2">
                            {% trans "Sign Up" %}
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}
