{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Client Registration" %}{% endblock %}
{% block canonical %}{% url 'client:register' %}{% endblock %}
{% block description %}
    {% blocktranslate %}
        Create an account with us and get access to exclusive promotions, online gallery and more. Register now to
        experience our professional photography services.
    {% endblocktranslate %}
{% endblock %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/registers.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/button.css' %}"/>
{% endblock %}

{% block body %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">{% trans "REGISTER ACCOUNT" %}</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>
                            {{ form.first_name }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope-square" aria-hidden="true"></i>
                                </span>
                            </div>
                            {{ form.email }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </span>
                            </div>
                            {{ form.password1 }}
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </span>
                            </div>
                            {{ form.password2 }}
                        </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="{% trans 'Register Account' %}">
                        </div>
                    </form>
                </div>
                <small class="text-muted list-error" style="padding-top: 5px; margin-top: 5px">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                                 role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <p style="color: darkred">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </small>
                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        {% trans "Already have an account" %}?&nbsp;
                        <a href="{% url 'client:login' %}" class="ml-2">
                            {% trans "Login" %}
                        </a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <script src="{% static 'client/js/button.js' %}"></script>
{% endblock body %}
