
.container-all{
  width: fit-content;
  margin: 20px auto;
  height: auto;
}
.containers{
  width: calc(33% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
}
img{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
}

.containers:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.containers:hover span{
  color:white;
  display: block;
  transition-duration: .3s;
}
@media only screen and (max-width: 900px) {
    .containers {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .containers {
        width: 100%;
    }
}