body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("IMG_0198.jpg");
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
}

.user_card {
    width: 350px;
    max-height: 400px;
    margin-top: 50px;
    margin-bottom: 70px;
    background: rgba(211,211,211,0.4);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

#form-title {
    color: rgba(0,0,0,0.6);
}


.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: blanchedalmond !important;
    color: black !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

a{
    color: #0b0b0b;
}

.login_btn {
    font-family: Hack, monospace;
    background: rgba(190, 222, 238, 0.8);
    color: #1d1d1d;
    cursor: pointer;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 35px;
}

.login_btn::after {
    content: "\f2f6";
    font-family: "Font Awesome 5 Pro", serif;
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
 }

.login_btn:hover {
    background: rgba(43, 43, 255,.8);
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0 6px 15px #0000ff61;
    padding: .8rem 1.5rem .8rem .8rem;
    color: #ffffff;
}
.login_btn:hover:after {
    opacity: 0.7;
    transition: all 0.5s;
    color: #ffffff;
}


