{% extends 'homepage/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Book me{% endblock %}
{% block customCSS %}
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css"
          integrity="sha512-rxThY3LYIfYsVCWPCW9dB0k+e3RZB39f23ylUYTEuZMDrN/vRqLdaCBo/FbvVT6uC2r0ObfPzotsfKF9Qc5W5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}
{% block body %}
    <div class="clearfix"></div>
    <!-- Header section end  -->

    <!-- Google Map
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe>
    </div>
    Google Map end -->
    <style>
        * {
            background-size: cover;
        }

        input[type=text], input[type=email] {
            width: 90%;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: #7d7d7d;
            border: none;
            border-bottom: 1px solid #b2b2b2;
            padding-bottom: 14px;
            margin-bottom: 20px;
            background: transparent;
        }

        textarea {
            height: 165px;
            min-height: 165px;
            margin-bottom: 38px;
        }

        .button {
            align-items: center;
            background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
            border: 0;
            border-radius: 10px;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-family: "Codec cold", sans-serif;
            font-size: 14px;
            font-weight: 700;
            height: 40px;
            justify-content: center;
            letter-spacing: .4px;
            line-height: 1;
            max-width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 3px;
            text-decoration: none;
            text-transform: uppercase;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

        .button:active {
            outline: 0;
        }

        .button:hover {
            outline: 0;
        }

        .button span {
            transition: all 200ms;
        }

        .button:hover span {
            transform: scale(.9);
            opacity: .75;
        }

        @media screen and (max-width: 991px) {
            .button {
                font-size: 15px;
                height: 50px;
            }

            .button span {
                line-height: 50px;
            }
        }

        select {
            position: relative;
            left: 5px;
            background-color: #b8daff;
            border-radius: 5px;
            cursor: grab;
        }

        #form-container {
        }
    </style>

    <!-- Book me section  -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h3>Note</h3>
                        <h6>
                            The price vary according to :
                        </h6>
                        <ul style="text-align: left; padding-left: 1.5em;">
                            <li>The place you want to do the photoshoot.</li>
                            <li>The session type.</li>
                            <li>The number of pictures you want (the packages).</li>
                        </ul>
                        <p class="small">
                            In order to have a better user experience,
                            we recommend you to register first.
                        </p>
                        <p class="important" style="font-size: 16px; font-weight: 700; line-height: 24px; color: #777777;">
                            NB: A $100 deposit is required to book the date. No deposit, no obligation.
                        </p>

                    </div>
                </div>
                <div class="col-lg-8" id="form-container">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="fullname">Full Name * : </label>
                            {{ form.full_name }}
                        </div>
                        <div>
                            <label for="email">Email address * : </label>
                            {{ form.email }}
                        </div>
                        <div>
                            <label for="email">Phone number * : </label>
                            {{ form.phone_number }}
                        </div>
                        <div class="bootstrap-iso form">
                            <label for="email">Desired date * : </label>
                            {{ form.desired_date }}
                        </div>
                        <div>
                            <label for="email">{% trans "City and State" %} * : </label>
                            {{ form.address }}
                        </div>
                        <div>
                            <div onchange="display();">
                                <label for="sessiontype"> Type of photo session * :
                                    {{ form.session_type }}
                                </label>
                            </div>
                            <div onchange="display();">
                                <label for="place"> Location * :
                                    {{ form.place }}
                                </label>
                            </div>
                            <div onchange="display();">
                                <label for="package"> Select a package * :
                                    {{ form.package }}
                                </label>
                            </div>
                            <p class="small">
                                * : required
                            </p>
                        </div>
                        <div class="info">
                            <p id="totalPrice"></p>
                            <p id="note"></p>
                        </div>

                        <br>
                        <input class="button" type="submit" value="Request">
                    </form>
                </div>
            </div>
            <div class="container" style="margin-top: 20px;">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                             role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Book me section end  -->

{% endblock %}

{% block customJS %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'client/js/book_me.js' %}"></script>
{% endblock %}
