{% extends 'administration/list/data.html' %}
{% load i18n %}
{% load static %}

{% block title %}CRUELTOUCH | {% translate "Requested photoshoot list" %}{% endblock %}

{% block pageTitle %}
    {% translate "Requested photoshoot list" %}
{% endblock %}
{% block pageLink %}
    {% translate "Requested photoshoot list" %}
{% endblock %}


{% block table %}
    <!-- Main content -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{% translate "Requested Photoshoot Session" %}</h3><br>
            <small class="text-muted">{% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                         role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            </small>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% translate "Date" %}</th>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Email" %}</th>
                    <th>{% translate "Place" %}</th>
                    <th>{% translate "Status" %}</th>
                    <th>{% translate "Email sent" %}</th>
                    <th>{% translate "Action" %}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for rs in request_session %}
                    <tr>
                        <td>
                            {{ rs.time_book_taken }}
                        </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;{{ rs.full_name }}
                        </td>
                        <td>
                            <a href="mailto:{{ rs.email }}">
                                &nbsp;&nbsp;&nbsp;{{ rs.email }}
                            </a>
                        </td>
                        <td>{{ rs.place }}</td>
                        <td>{{ rs.status }}</td>
                        <td>{{ rs.get_if_email_was_sent_string }}</td>
                        <td>
                            {% if not rs.get_if_email_was_sent_boolean and not rs.status_changed %}
                                <a href="{% url 'administration:send_email' rs.id %}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-envelope"></i>
                                    {% translate "Send email" %}
                                </a>
                            {% else %}
                                <a href="" class="btn btn-primary btn-sm disabled">
                                    <i class="fas fa-envelope"></i>
                                    {% translate "Send email" %}
                                </a>
                            {% endif %}
                        <td>
                            <a href="{% url 'administration:session_update' rs.pk %}" class="btn btn-primary">
                                <i class="fas fa-edit"></i>&nbsp;Update
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'administration:session_delete' rs.pk %}" class="btn btn-danger">
                                <i class="fas fa-fire"></i>&nbsp;Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>{% translate "Date" %}</th>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Email" %}</th>
                    <th>{% translate "Place" %}</th>
                    <th>{% translate "Status" %}</th>
                    <th>{% translate "Email sent" %}</th>
                    <th>{% translate "Action" %}</th>
                    <th></th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
{% endblock %}