{% extends 'administration/list/data.html' %}
{% load i18n %}
{% load static %}
{% block customCSS %}
    <link rel="stylesheet" href="{% static 'client/css/modifying_photos_albums.css' %}">
{% endblock %}

{% block title %}CRUELTOUCH | {{ title }}{% endblock %}

{% block pageTitle %}

{% endblock %}
{% block pageLink %}
    {{ title }}
{% endblock %}


{% block table %}
    <!-- Main content -->
    <div>
        <div class="cardHeader">
            <h2>{{ total_photos_label }}</h2> <span
                class="badge badge-pill badge-primary">{{ album.get_photos_count }}</span>
            <small class="text-muted">{% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
                         role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            </small>
        </div>
        <br>
        <div class="" style="padding: 5px;">
            {% if photos_liked %}
                <div class="cardHeader">
                    <h3 style="font-size: 20px">Photos liked</h3>
                </div>
                <br><br>
                <div style="display: flex; flex-flow: row wrap; justify-items: flex-start; padding: 5px;">
                    {% for photo in photos_liked %}
                        <div style="margin: 5px">
                            <div>
                                <img src="{{ photo.file.url }}" alt="" style="height: 150px">
                                <p style="max-width: 200px">{{ photo.file.name }}</p>
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if photos_not_liked %}
                <hr>
                <div class="cardHeader">
                    <h3 style="font-size: 20px">Photos not liked</h3>
                </div>
                <br><br>
                <div style="display: flex; flex-flow: row wrap; justify-items: flex-start; padding: 5px;">
                    {% for photo in photos_not_liked %}
                        <div style="margin: 5px">
                            <div>
                                <img src="{{ photo.file.url }}" alt="" style="height: 150px">
                            </div>
                            <br><br>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- /.card-body -->
{% endblock %}

{% block dataTableJs %}
{% endblock %}