{% extends 'client/base.html' %}
{% block title %}<title>Clients</title>{% endblock %}
    {% block body %}
        <div class="recentCustomers">
            <div class="cardHeader">
                <h2>Recent Book</h2>
            </div>
            <table>
                <thead>
                <tr>
                    <td>First Name</td>
                    <td>Email</td>
                    <td>Photo session</td>
                    <td>Location</td>
                    <td>Package</td>
                    <td>Status</td>
                    <td>Update</td>
                    <td>Remove</td>
                </tr>
                </thead>
                {% if all_book %}
                    <tbody>
                    {% for book in all_book %}
                        <tr>
                            <td>{{ book.full_name }}</td>
                            <td>{{ book.email }}</td>
                            <td>{{ book.session_type }}</td>
                            <td>{{ book.place }}</td>
                            <td><span class="packages-number">{{ book.package }}</span></td>
                            <td><span class="status {{ book.status }}">{{ book.status }}</span></td>
                            <td><a class="btn btn-primary" href="{% url 'client:update_bookmes' book.id %}">Update</a></td>
                            <td><a class="btn btn-danger" style="background-color: red" href="{% url 'client:delete_bookmes' book.id %}">Remove</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% else %}
                    <tr class="alert-info" id="info" style="text-align: center; margin-top: auto">
                        <td>No Booking has been made yet.</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endblock %}