{% extends 'client/base.html' %}
{% load static %}
{% block title %}<title>Help</title>{% endblock %}
{% block body %}
    <!-- General -->
    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>General</h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>What functionality I implemented ?</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        For the administrator, you can login in 2 ways, through the admin page and through the super
                        admin page, which you can access through the settings in the left panel. When you log in as
                        admin here, you get a preview in the dashboard of how many photos you have uploaded to your
                        web server for your clients. This helps you know when to delete old images and therefore
                        have more space for further uploads, as you only have a total of 9 GB space in your VPS.
                        You can also see how many customers have signed up on your website, how many contact forms
                        (or messages) you have in total, and the total number of sessions (photo shoot) you have
                        completed.
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <td>To be implemented</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        When you click on the name of a client, you will be able to upload several photos for him at
                        the same time, see all the information relating to this client, how many reservations he has
                        made, information relating to these reservations (done, pending, accepted, canceled), see
                        all his unretouched photos, see his zip file containing all the photos. You will be able to
                        modify the information related to this customer like his name, his e-mail address etc ...
                        Rest assured, you can already do all this in the super admin page, but I admit that it is
                        not user-friendly.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>Dashboard</h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Card Header</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Photo count shows how many photos you've uploaded for your customers so you can edit
                        them after they've favorite them.
                    </td>
                </tr>
                <tr>
                    <td>
                        Client count shows how many clients have registered in your website including yourself
                        and me. Will be change later to have the exact number.
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact form count shows how many messages or contact form people have sent to you.
                    </td>
                </tr>
                <tr>
                    <td>
                        Total session correspond to how many reservation you have received including all type of
                        reservations.
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <td>To be implemented</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Clicking on a card will bring you to the specified page.
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <td>Recent Booking</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        A list of all your recent reservations.
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <td>Status of a booking</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Pending : The client went through your website and made a reservation for a session with
                        you but it's not yet accepted
                    </td>
                </tr>
                <tr>
                    <td>
                        Accepted : If you accept the conditions of the reservation, you will change the status
                        to accepted.
                    </td>
                </tr>
                <tr>
                    <td>
                        Paid (to be implemented) : The client has done a first deposit via paypal through the
                        website or via any other platform (if so you will change the status from accepted to
                        paid)
                    </td>
                </tr>
                <tr>
                    <td>
                        Done : All the conditions were accepted, you received your fist deposit, you have done
                        the photo session and edited all the photos that the client downloaded and you received
                        your final payments.
                    </td>
                </tr>
                <tr>
                    <td>
                        Canceled : Unfortunately, the client canceled the photo session.
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <td>Recent Client</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        A list of all your recent client registration.
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <td>To be implemented</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        You will be able to click on the name of a client to see all the information about
                        him/her.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>Client (To be implemented)</h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Client List</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        A table that will list all of your clients.
                    </td>
                </tr>
                <tr>
                    <td>
                        You will be able to click on the name of a client to see all the informations about
                        him/her and see if he/she has photos uploaded yet, if not, upload unedited photos from
                        his/her last photo session, upload a zip file containing all of his/her last session
                        edited photos and also you will be able to change the status of his/her reservation from
                        pending to accepted and from accepted to done. If he/she cancel the reservation, you
                        will be also able to see that information.
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <td>Card Header (when you click on the name of a client)</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Photo count shows how many photos you've uploaded for this client so you can edit them
                        after they've favorite them.
                    </td>
                </tr>
                <tr>
                    <td>
                        Contact form count shows how many messages or contact form this client have sent to you.
                    </td>
                </tr>
                <tr>
                    <td>
                        Total session done correspond to how many photo session you have completed.
                    </td>
                </tr>
                <tr>
                    <td>
                        Canceled session correspond to how many photo session the client has canceled.
                    </td>
                </tr>
                </tbody>
            </table>
            <table>
                <thead>
                <tr>
                    <td>Photo List</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        A table that will list all of the photo of this client.
                    </td>
                </tr>
                <tr>
                    <td>
                        You will be able to see which photos are listed as favorite, how many are listed as so
                        and upload new ones if necessary.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>Message (To be implemented) </h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Contact Form List (not yet implemented)</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        A table that will list all of your messages (conctact forms).
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>Help (in implementation)</h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>What functionality I implemented ?</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Information about how to use the admin panel.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>Settings</h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Administration page</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        It shows all the information about your website in depth. It's a section you better not
                        mess up if you don't know what you're doing. It's, for right now, the only page you can
                        upload photos to your portfolio or create a new album, modify information about you,
                        your clients, your contact forms and so on. You can delete the whole website in there.
                        And only you and me have access to it.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>Password</h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Change or modify password</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        The website does not store raw (clear text) passwords on the user model, but only a
                        hash. Because of this, do not attempt to manipulate the password attribute of the user
                        directly. This is why a helper function is used when creating a user.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>Sign Out</h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Login out</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Do I really have to explain what that is ?
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="detailed">
        <div class="HelpCard">
            <div class="cardHeaderHelp">
                <h2>Notes</h2>
                <a href="#" class=""></a>
            </div>
            <table>
                <thead>
                <tr>
                    <td>Books</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Clicking on the submit button when booking gives a server error 500, but the booking is made
                        anyway
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}